html {
  font-size: 20px;
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
  h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 4px 3px gray;
  border-bottom: solid 3px rgb(115,115,114);
  }
  #basic p {
    font-weight: bold;
  }
  .letter-color1 {
    color: skyblue;
  }
  .letter-color2 {
    color: rgb(255,192,203);
  }